.App {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  height: 100vh;
  background-color: #f0f0f0; /* Set a background color for the game container */
}
